*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color:white;
    align-items: center;
}
.logo{
    padding: 0px;
    margin:0px;
    height: 15vh;
    padding-right: 5px;
}
.nav-links ol{
list-style: none;
margin: 5px 10px;
display: flex;
justify-content: space-between;
}
.nav-links ol li{
    padding:10px;
}
main{
    height: 150vh;
}
.cart-main{
    position: relative;
    width: 60%;
    height:60%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.cart-items{
    display: flex;
    flex-direction: column;
    
}
.cart-item{
    background-color: #f4f4f4;
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    justify-content: space-between; 
}
.cart-item-detail{
    display: flex;
}
.cart-item-detail p{
    margin: 10px;
}
.cart-item-price button{
    font-size: 25px;
    margin: 10px;
}
.checkout{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
}
.checkout button{
    width:10vw;
}
footer{
    height:5vh;
    background-color: black;
    color:antiquewhite;
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container {
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 50px;
    border: 1px solid #e61919;
    border-radius: 10px ;
    text-align: center;
    
}

.item-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}